@font-face{
    font-family:'华康手札体W7P' ;  /* 字体名自定义即可 */
    src:url('/fonts/华康手札体W7P.ttf'); /* 字体文件路径 */
    font-display : swap;
  }

  h1#site-title {
    font-family: '华康手札体W7P', sans-serif;
  }

  span {
    font-family: '华康手札体W7P', sans-serif;
  }
  
  span.site-name {
    font-family: '华康手札体W7P', sans-serif;
  }

  h2 {
    font-family: '华康手札体W7P', sans-serif;
  }
  .flink-desc {
    font-family: '华康手札体W7P', sans-serif;
  }

  .el-input-group__prepend {
    font-family: '华康手札体W7P', sans-serif;
  }

  .tk-footer {
    font-family: '华康手札体W7P', sans-serif;
  }

  .card-widget.card-info {
    font-family: '华康手札体W7P', sans-serif;
  }

  .author-info__name {
    font-family: '华康手札体W7P', sans-serif;
  }

  a.title {
    font-family: '华康手札体W7P', sans-serif;
  }

  time {
    font-family: '华康手札体W7P', sans-serif;
  }

  p {
    font-family: '华康手札体W7P', sans-serif;
  }

  img.cover {
    font-family: '华康手札体W7P', sans-serif;
  }

  .reward-button {
    font-family: '华康手札体W7P', sans-serif;
  }

  div#footer-wrap {
    font-family: '华康手札体W7P', sans-serif;
  }

  .recent-post-item {
    font-family: '华康手札体W7P', sans-serif;
  }

  .announcement_content {
    font-family: '华康手札体W7P', sans-serif;
  }

  a {
    font-family: '华康手札体W7P', sans-serif;
  }

  .item-name {
    font-family: '华康手札体W7P', sans-serif;
  }

  img {
    font-family: '华康手札体W7P', sans-serif;
  }

  div#workboard {
    font-family: '华康手札体W7P', sans-serif;
  }

  h1 {
    font-family: '华康手札体W7P', sans-serif;
  }

  a.post-meta__tags {
    font-family: '华康手札体W7P', sans-serif;
  }

  .article-sort-title {
    font-family: '华康手札体W7P', sans-serif;
  }

  a.article-sort-item-title {
    font-family: '华康手札体W7P', sans-serif;
  }

  .search-dialog {
    font-family: '华康手札体W7P', sans-serif;
  }

  svg.ais-PoweredBy-logo {
    font-family: '华康手札体W7P', sans-serif;
  }

  .author-info__description {
    font-family: '华康手札体W7P', sans-serif;
  }

  form {
    font-family: '华康手札体W7P', sans-serif;
  }
  .tk-expand{
    font-family: '华康手札体W7P', sans-serif;
  }

  .post-copyright-m-info{
    font-family: '华康手札体W7P', sans-serif;
  }

  