if hexo-config('css_prefix')
  @import 'nib'

@import '_third-party/normalize.min.css'
// project
@import 'var'
@import '_global/*'
@import '_highlight/highlight'
@import '_page/*'
@import '_layout/*'
@import '_tags/*'
@import '_mode/*'
@import '_custom/*.css'
@import 'https://cdn.jsdelivr.net/gh/username/repo/css/example.css'

// search
@import '_search/index'